.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
}



.dashBoard {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas:  "header header header"
                        "quote quote quote"
                        "newQuoteBtn blank tweetBtn";

}

header {
  grid-area: header;
}

.quote {
  grid-area: quote;
}

.newQuote {
  grid-area: newQuoteBtn;
}

.tweet {
  grid-area: tweetBtn;
}

.blank {
  grid-area: blank;
}