.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  background-color: papayawhip;
}



.dashBoard {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.contentGrid {
  display: grid;
  background-color: plum;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-areas:  "header header header"
                        "quote quote quote"
                        "tweetBtn . quoteBtn";

}

header {
  grid-area: header;
  text-align: center;
  color: white;
}


.quote {
  grid-area: quote;
  text-align: center;
}

.newQuote {
  grid-area: quoteBtn;
  background-color: #ff99cc;
}

.tweet {
  grid-area: tweetBtn;
  background-color: #ff99cc;
}
